@import "bootstrap-sprockets";
@import "bootstrap";

//General Layout
html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.container {
   min-height:100%;
   position:relative;
}

.jumbotron {
   background:#ff0;
   padding:10px;
}

body {
   padding-bottom:60px;   /* Height of the footer */
}

footer {
   text-align: center;
   color: white;
   background-color: #073B15;
}

//NavBar

nav {
  background-color: #073B15;
}

.nav-tabs {
  border-bottom: none;
}

#logo,
.nav-item a {
  color: white;
  font-weight: bold;
  font-size: 1.7em;
}

#logo {
  float: left;
  text-transform: uppercase;
}

.navbar .nav > li > a:hover {
  text-decoration: none;
  background-color: #d9534f;
}

//Jumbotron

.jumbotron {
  color: white;
  background-image: url(image-path('food.jpg'));
  background-color: #073B15;
  background-size: cover;
}

.home-content {
  margin-bottom: 100px;
}

//Show Page

.description {
  margin-top: 0;
}

.well a {
  color: #073B15;
}

//Index Page - Recipes

.chef_info {
  margin-top: 10px;
}

//New Page - Recipes

.colormatch a {
  color: #073B15;
}

//Show Page - Recipes

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

//Index Page - Chefs

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #073B15;
  font-weight: bold;
  font-size: 1.25em;
}

//New Page - Recipe

.input_checkbox input {
  width: auto !important;
}

//Messages

.center-block {
  float: none;
}

.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;
  }
  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.message {
  padding-left: 5px;
  padding-top: 10px;
}

.messages {
  border: 1px solid #eaeaea;
  height: 16em;
  position: relative;
  overflow: auto;
}
