@import "bootstrap-sprockets";
@import "bootstrap";

//General Layout
html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.container {
   min-height:100%;
   position:relative;
}

.jumbotron {
   background:#ff0;
   padding:10px;
}

body {
   padding-bottom:60px;   /* Height of the footer */
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   text-align: center;
   color: white;
   background-color: #073B15;
}

//NavBar

nav {
  background-color: #073B15;
}

.nav-tabs {
  border-bottom: none;
}

#logo,
.nav-item a {
  color: white;
  font-weight: bold;
  font-size: 1.7em;
}

#logo {
  float: left;
  text-transform: uppercase;
}

.navbar .nav > li > a:hover {
  text-decoration: none;
  background-color: black;
}

//Jumbotron

.jumbotron {
  color: white;
  background-image: url(image-path('food.jpg'));
  background-size: cover;
}

.home-content {
  margin-bottom: 100px;
}

//Show Page

.description {
  margin-top: 0;
}

.well a {
  color: #073B15;
}

//Index Page

.chef_info {
  margin-top: 10px;
}

//New Page
.colormatch a {
  color: #073B15;
}

//Show Page
.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}
