<nav class="navbar navbar-light bg-light">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "My Recipes", root_path, class: "nav-link active", id: "logo"%>
    </li>
    <li class="nav-item pull-right">
      <%= link_to "#", root_path, class: "nav-link"%>
    </li>
    <li class="nav-item pull-right">
      <%= link_to "#", root_path, class: "nav-link"%>
    </li>
    <li class="nav-item pull-right">
      <%= link_to "#", root_path, class: "nav-link"%>
    </li>
  </ul>
</nav>
